.popup-form__add-card {
    display: grid;
    grid-template-rows: 32px 3fr 1fr;
    grid-gap: 12px;
}

.popup-form__add-card__header {
    height: 32px;
    color: var(--jet-black);
}

.popup-form__add-card__fields {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 4px;
}

.popup-form__add-card__date-and-code {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.popup-form__add-card__date {
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
}

.popup-form__add-card__month-year {
    width: 90%;
}

.popup-form__add-card__code {
    width: 45%;
}

.separation-line-date_add-card {
    height: 100%;
    text-align: center;
    padding-top: 10px;
}

.field-name_add-card {
    color: var(--secondary-purple);
}

.popup-form__add-card__input {
    height: 44px;
    width: 100%;
    padding: 10px 14px 10px;
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    box-sizing: border-box;
    color: var(--jet-black);
}

.popup-form__add-card__buttons {
    text-align: right;
}

.popup-form__add-card__button {
    height: 40px;
    width: 100px;
}

.popup-form__add-card__cancel {
    margin-right: 8px;
}

.popup-form__add-card__apply {
    background-color: var(--purple-disabled);
    color: var(--pure-white);
}
