.order-block {
  width: 1400px;
  height: 550px;
  display: grid;
  grid-template-rows: 62px 456px;
  background-color: var(--pure-white);
  border-radius: 10px;
  margin-bottom: 32px;
}

.order-block__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 42px;
  align-self: center;
  margin-left: 32px;
  margin-top: 32px;
  margin-right: 32px;
}

.order-block__content {
  display: grid;
  grid-template-columns: 936px 64px 400px;
}

.order-block__item-cards-block {
  margin: 32px 0 0 32px;
  overflow-y: auto;
  color: var(--jet-black);
}

.order-block__item-cards-block::-webkit-scrollbar {
  background-color: var(--dark-grey);
  border-radius: 4px;
  width: 6px;
}

.order-block__item-cards-block::-webkit-scrollbar-thumb {
  background-color: var(--default-purple);
  border-radius: 4px;
}

.order-block__info-block {
  margin-right: 32px;
  margin-top: 32px;
  display: grid;
  grid-template-rows: 144px 32px 160px 40px;
  grid-row-gap: 16px;
  align-items: center;
  color: var(--jet-black);
}

.order-block__info-block__split-line {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 132px auto;
  grid-column-gap: 24px;
}

.order-block__header__number {
  align-self: center;
  justify-self: end;
}

.button-order-block {
  width: 152px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-repeat-order {
  background: var(--default-purple);
  color: var(--background-white);
}

.button-repeat-order:hover {
  background: var(--hover-purple);
}

.button-cancel-order {
  background: var(--dark-grey);
  color: var(--jet-black);
  justify-self: end;
}

.order-block__info-block__line-left {
  color: var(--secondary-purple);
}

.order-block__info-block__line-right {
  justify-self: end;
}

.order-block__info-block__title {
  margin-top: 16px;
}

.order-block__info-block__split-line__address {
  display: grid;
  grid-template-columns: 54px auto;
  grid-column-gap: 64px;
}

.order-block__info-block__buttons-line {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
}
