<div class="order-block">
    <div class="order-block__header">
        <span class="text-normal-very-big order-block__header__status"> Статус заказа </span>
        <span class="text-normal-large-normal order-block__header__number"> Номер заказа </span>
    </div>

    <div class="order-block__content">
        <div class="order-block__itemcards-block" id="order-block__itemcards-block">

        </div>

        <div></div>

        <div class="order-block__info-block">

            <div>
                <div class="order-block__info-block__split-line">
                    <span class="text-normal-large"> Итого </span>
                    <span class="text-normal-large order-block__info-block__line-right"> 10 111 111 ₽ </span>
                </div>

                <div class="order-block__info-block__split-line">
                    <span class="text-normal-default order-block__info-block__line-left"> Оплата </span>
                    <span class="text-normal-default order-block__info-block__line-right"> Картой </span>
                </div>

                <div class="order-block__info-block__split-line">
                    <span class="text-normal-default order-block__info-block__line-left"> Статус оплаты </span>
                    <span class="text-normal-default order-block__info-block__line-right"> Оплачено </span>
                </div>

                <div class="order-block__info-block__split-line">
                    <span class="text-normal-default order-block__info-block__line-left"> Дата оформления </span>
                    <span class="text-normal-default order-block__info-block__line-right"> 01/01/1970 </span>
                </div>
            </div>


            <div class="order-block__info-block__title">
                <span class="text-normal-large"> Способ получения </span>
            </div>


            <div>
                <div class="order-block__info-block__split-line__address">
                    <span class="text-normal-default order-block__info-block__line-left"> Адрес </span>
                    <span class="text-normal-default order-block__info-block__line-right ">  г. Москва, ул. Бауманская 2-я, д. 5, стр. 1 </span>
                </div>

                <div class="order-block__info-block__split-line">
                    <span class="text-normal-default order-block__info-block__line-left"> Дата доставки </span>
                    <span class="text-normal-default order-block__info-block__line-right"> 01/01/1970 </span>
                </div>

                <div class="order-block__info-block__split-line">
                    <span class="text-normal-default order-block__info-block__line-left"> Время доставки </span>
                    <span class="text-normal-default order-block__info-block__line-right"> 10:00 - 18:00 </span>
                </div>

                <div class="order-block__info-block__split-line">
                    <span class="text-normal-default order-block__info-block__line-left"> Срок хранения </span>
                    <span class="text-normal-default order-block__info-block__line-right"> 01/01/1970 </span>
                </div>
            </div>

            <div class="order-block__info-block__buttons-line">
                <div class="button-default button-order-block button-cancel-order"> Отменить заказ</div>
                <div class="button-default button-order-block button-repeat-order"> Повторить заказ</div>

            </div>


        </div>
    </div>
</div>
