.popup-form_user-info {
  display: grid;
  grid-template-rows: 32px 3fr 1fr;
  grid-gap: 6px;
}

.popup-form_user-info__header {
  height: 32px;
  color: var(--jet-black);
}

.popup-form_user-info__fields {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.field-name_user-info {
  color: var(--secondary-purple);
}

.popup-form_user-info__input {
  height: 44px;
  width: 100%;
  padding: 10px 14px 11px;
  border: 1px solid #d5d5d5;
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--jet-black);
}

.popup-form_user-info__buttons {
  text-align: right;
}

.popup-form_user-info__button {
  height: 40px;
  width: 100px;

  /* padding: 8px 24px 10px; */
  cursor: pointer;
}

.popup-form_user-info__cancel {

}

.popup-form_user-info__apply {
  background-color: var(--purple_disabled);
  color: var(--pure_white);
}

.userpage__popUp__error {
  margin-left: 340px;
  margin-top: 20px;
  width: 128px;
}
