.content__signup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    min-width: min(1400px, 100%);
}

.left__signup {
    display: grid;
    justify-items: center;
    align-items: center;
}

.signup {
    display: grid;
    grid-row-gap: 16px;
}

.page-name__signup {
    text-align: center;
    justify-self: center;
    color: var(--shadow-dim);
}

.signup__form {
    margin-top: 14px;
    background-color: var(--pure-white);
    height: 440px;
    width: 400px;
    border-radius: 15px;
    display: grid;
    grid-template-rows: repeat(4, 63px) 1fr;
}

.signup__signin {
    height: 20px;
    text-align: center;
}

.signup__right-img {
    display: block;
    width: 480px;
    height: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 104px;
}

@media (max-width: 991px) {
    .signup__right-img {
        width: 100%;
        height: 85%;
        margin-top: 0%;
        padding-top: 25%;
    }

    .signup__form {
        width: 300px;
    }

    .page-name__signup.text-normal-huge {
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
    }

    .signup {
        padding: 50px;
    }
}

@media (max-width: 767px) {
    .right {
        display: none
    }

    .content__signup {
        grid-template-columns: 1fr;
    }
}
