<link rel="stylesheet" href="./src/pages/RegisterPage/RegisterPage.css" type="text/css">

<div class="page">
    <header id="header"></header>

    <main>
        <div class="paint-background"></div>
        <div class="content">
            <div class="left paint-backgroun">
                <div class="signup">
                    <div class="page-name text-normal-huge" id="inForm">Регистрация</div>
                    <div class="signup__form" id="signup__form">
                    </div>
                    <div class="signup__signin text-normal-default">
                        Уже есть аккаунт?
                        <a href="/login" class="link">Войти</a>
                    </div>
                </div>
            </div>
            <div class="paint-purple">
                <img type="image" class="LoginRightImg" src="./img/LoginRightImg.png" alt="LoginRightImg">
                <div class="tagline text-normal-large">
                    Воплощаем ваши мечты в реальность.
                </div>
            </div>
        </div>
        <div class="paint-purple"></div>
    </main>

    <footer id="footer"></footer>

</div>