<div class="paint-background"></div>
<div class="content_signup">
    <div class="left_signup paint-background">
        <div class="signup">
            <div class="page-name_signup text-normal-huge" id="inForm">Регистрация</div>
            <div class="signup__form" id="signup__form">
            </div>
            <div class="signup__signin text-normal-default">
                Уже есть аккаунт?
                <a href="/login" class="link">Войти</a>
            </div>
        </div>
    </div>
    <div class="paint-purple">
        <img type="image" class="LoginRightImg" src="/img/LoginRightImg.webp" alt="LoginRightImg">
    </div>
</div>
<div class="paint-purple"></div>
