.add-to-cart-button {
    display: flex;
    background: var(--default-purple);
    color: var(--background-white);
    justify-content: center;
    align-items: center;
    height: 40px;
    cursor: pointer;
}

.add-to-cart-button:hover {
    background: var(--hover-purple);
}

.add-to-cart-button_amount-selector {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
    border: 1px solid var(--jet-black);
    border-radius: 10px;
    height: 38px;
}

.add-to-cart-button_amount-selector__amount {
    min-width: 28px;
    display: flex;
    justify-content: center;
    align-self: center;
}
