<div class="header__left">
    <div class="header__logotip">
        <a href="/">
            <img src="/img/Logo.webp" alt="Reazon logo" class="logo-reazon">
        </a>
    </div>

    <div class="header__catalog button-default header__button-catalog paint-purple text-normal-default"
       id="header__button-catalog">
        <img src="/img/Catalog.svg" class="header__catalog-img" id="header__button-catalog__icon"
             alt="Menu-Burger icon in button Catalog">
        <span id="header__button-catalog__text">Каталог</span>
    </div>

    <div class="header__dropdown__content" id="header__dropdown__content">
        {{#each this.categories}}
            <a href="{{this.href}}" class="text-normal-default header__dropdown__content__element"
               id="catalog__popUp-category">{{this.nameCategory}}</a>
        {{/each}}
    </div>

    <div class="header__search-line">
        <label for="search-line__text"></label><input type="search" class="header__form-search" name="search-line"
                                                      placeholder="Что Вас интересует?" maxlength="75"
                                                      id="search-line__text">
        <button type="submit" class="header__button-search  paint-purple" id="search-button-submit">
            <img src="/img/Search.svg" alt="Search button">
        </button>
        <ul class="header__dropdown__content search-suggestions" id="search-suggestions__main" style="display: grid;">
        </ul>
    </div>
</div>
<div class="header__right">
    <div class="header__order">
        <a href="/orders">
            <img src="/img/Orders.svg" alt="Orders button" class="header__order-img">
        </a>
    </div>
    <div class="header__favourites">
        <a href="/user/favorites">
            <img src="/img/Favourites.svg" alt="Favourite items button" class="header__favourites-img">
        </a>
    </div>
    <div class="header__card">
        <a href="/cart">
            <img src="/img/Cart.svg" alt="Cart button" class="header__card-img">
        </a>
    </div>

    <div class="header__profile">
        {{#if session}}
            <a href="/user">
                <img src="/img/Profile.svg" alt="Profile button" class="header__profile-img">
            </a>
            <div class="profile__pop-up">
                <a href="/logout">
                    <img src="/img/LogOut.svg" class="profile__logout" alt="LogOut button">
                </a>
            </div>
        {{else}}
            <a href="/login">
                <img src="/img/ProfileLogIn.svg" alt="LogIn button" class="header__profile-img">
            </a>
        {{/if}}
    </div>
</div>
