<link rel="stylesheet" href="Header.css">

<div class="header__left">
    <div class="header__logotip">
        <img src="img/Logo.png" alt="LOGO">
    </div>
    <div class="header__catalog">
        <a href="" class="button-default header__button-catalog paint-purple">
            <img type="image" src="./img/Catalog.svg" class="header__catalog-img" alt="CAT">
            Каталог
        </a>
    </div>
    <div class="header__search-line">
        <input type="search" class="header__form-search" name="search-line"
                placeholder="Что Вас интересует?" maxlength="75">
        <a href="" class="header__button-search paint-purple">
            <img type="image" src="./img/Search.svg" alt="Search">
        </a>
    </div>
</div>
<div class="header__right">
    <div class="header__order">
        <a href="">
            <img src="./img/Orders.svg" alt="LOGO">
        </a>
    </div>
    <div class="header__favourites">
        <a href="">
            <img src="./img/Favourites.svg" alt="LOGO">
        </a>
    </div>
    <div class="header__card">
        <a href="">
            <img src="img/Cart.svg" alt="LOGO">
        </a>
    </div>
    <div class="header__profile">
        <a href="">
            <img src="./img/Profile.svg" alt="LOGO">
        </a>
    </div>
</div>