header {
    display: grid;
    background-color: var(--pure_white);
    grid-template-columns: 2fr 1fr;
    margin-top: 5px;
}

.header__left {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    align-self: center;
    grid-column-gap: 28px;
}

.header__right {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-self: center;
    grid-column-gap: 22px;
}

.header__logotip {
    margin-left: 20px;
    width: 100px;
    height: 40px;
    align-self: center;
}

.header__search-line {
    display: grid;
    grid-template-columns: 1fr 0;
    background-color: #F8F8F8;
    border-radius: 10px;
    border: solid 2px;
    border-color: var(--pure_white)
}

.header__search-line:hover{
    border-color: var(--hover_purple);
}

.header__form-search {
    border-left-width: 10px;
    border-color: rgba(0, 0, 0, 0);
    width: 550px;
    height: 40px;
    background: #F8F8F8;
    border-radius: 10px;
}

.header__form-search:focus {
    outline: none;
}

.header__order {
    width: 88px;
    height: 56px;
    margin-left: 48px;
    padding: 4px 0 4px 0;
}

.header__favourites {
    width: 88px;
    height: 56px;
    padding: 4px 0 4px 0;
}

.header__card {
    width: 88px;
    height: 56px;
    padding: 4px 0 4px 0;
}

.header__profile {
    width: 88px;
    height: 56px;
    padding: 4px 0 4px 0;
}

.button-default {
    border-radius: 10px;
    border: none;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}

.header__button-catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 40px;
    text-decoration: none;
    color: var(--background-white);
}

.header__button-catalog:hover {
    background-color: var(--hover_purple)
}

.header__catalog-img {
    margin-right: 10px;
}

.header__button-search {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    grid-column: 3;
}

.header__button-search:hover {
    background-color: var(--hover_purple)
}