.page {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: 70px 1000px;
}

.content {
    max-width: 1400px;
    min-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-white);
    display: grid;
    grid-template-rows: 160px 60px 1fr 60px 1fr;
}

.content__catalog {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1em;
    height: 40px;
}

.item-top-cards {
    display: inline-block;
    margin: 0 auto;
    align-self: center;
    text-align: center;
    color: var(--jet-black);
    text-decoration: none;
}

.arrow-button {
    border: none;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: var(--pure_white);
    border-radius: 100%;
    padding-top: 5px;
    z-index: 1000;
    filter: var(--apple-shadow);
}

.arrow-button:hover {
    filter: var(--apple-dim-shadow);
}

.arrow-button-left {
    margin-top: 171px;
    position: absolute;
    z-index: 1000;
}

.arrow-button-right {
    margin-top: 171px;
}

.content__sales {
    display: grid;
    grid-template-columns: 10px repeat(6, 1fr) 75px;
}

.content__sales-title {
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: left;
}

.content__sales-body {
    grid-column: c0-start / c1-end;
}

.content__popular-title__timer {
    border-radius: 20px;
    width: 60px;
    height: 30px;
    color: var(--pure_white);
    background-color: var(--pink-accent);
    padding-left: 10px;
    margin-left: 10px;
    padding-top: 3px;
    margin-top: 15px;
}

.content__popular {
    display: grid;
    grid-template-columns: 10px repeat(6, 1fr) 75px;
}

.content__popular-title {
    margin-left: 20px;
}

.item-card__text-strikethrough {
    text-decoration: line-through;
    color: var(--secondary-purple);
    align-self: center;
}

.item-card__image {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.a-inherit {
    all: inherit;
    text-decoration: none;
}

.item-card__rating {
    background: transparent;
    border: none;
}

.item-card__top {
    text-decoration: none;
}

.item-card__top:visited {
    color: inherit;
}

.item-card__bottom {
    justify-content: flex-end;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
}

.item-card__textbox {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: [c0-start] 1fr [c0-end c1-strart] 1fr [c1-end];
    margin-top: 8px;

}

.item-card__title {
    grid-column: c0-start / c1-end;
}

.content__sales-image {
    display: grid;
    grid-template-columns: 1fr 0;
    justify-items: center;
    align-items: end;
}

.content__sales-value {
    border-radius: 20px;
    width: 36px;
    height: 17px;
    color: var(--pure_white);
    background-color: var(--pink-accent);
    margin-right: 10px;
}

.item-card {
    display: grid;
    grid-template-rows: 1fr 40px;
    grid-gap: 5px;
    width: 160px;
    height: 312px;
    padding: 15px 18px 15px 18px;
    background: var(--90_white);
    border-radius: 10px;
    border: none;
    align-items: center;
    text-align: center;
    color: var(--jet-black);
    text-decoration: none;
}

.item-card:hover {
    filter: var(--apple-shadow);
}

.item-card__rating {

}

.button_add-to-card {
    width: 100px;
    height: 40px;
    justify-self: left;
    margin-right: 10px;
    background: var(--default_purple);
    color: var(--background-white);
}
