.page {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1400px 1fr;
    grid-template-rows: 70px 1fr 70px;
}

.content {
    margin: 0;
    height: 91vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left {
    background-color: #6369D1;
}

.right {
    background-color: #EEEEEE;
    display: grid;
    justify-items: center;
    align-items: center;
}

.login-form {
    background-color: #FFFFFF;
    height: 350px;
    width: 400px;
    border-radius: 15px;
    display: grid;
    grid-template-rows: repeat(4, 63px);
}

.button-login {
    margin-left: 110px;
    margin-top: 8px;
    width: 180px;
    height: 40px;
    background: var(--green-shinny);
    align-items: center;
    color: #EEEEEE;
    margin-bottom: 12px;
    justify-self: center;

}

.button-login:hover {
    background: var(--green-correct);
}

.line {
    width: 370px;
    padding-left: 10px;
    align-items: center;
    margin: 20px auto 10px;
    border: 0.5px solid rgba(111, 111, 111, 0.24);
}
