:root {
    --default_purple: #6369D1;
    --hover_purple: #3F47D0;
    --pure_white: #FFFFFF;
    --background-white: #EEEEEE;
    --placeholder: rgba(55, 55, 55, 0.7);
    --jet-black: #333333;
    --green-shinny: #68B684;
    --green-correct: #32A416;
    --secondary-purple: #999AAD;
    --shadow-default: #D6D6D6;
    --pink-accent: #D14372;
    --apple-shadow: drop-shadow(0 0 20px var(--shadow-default));
    --shadow-dim: #000000FF;
    --apple-dim-shadow: drop-shadow(0 4 20px var(--shadow-dim));
    --90_white: rgba(255, 255, 255, 0.9);
    --border-color: 0.5px solid rgba(111, 111, 111, 0.24);;
}

* {
    padding: 0;
    margin: 0;
}

.paint-background {
    background-color: var(--background-white);
}

.paint-purple {
    background-color: var(--default_purple);
}

header, footer {
    max-width: 1400px;
    min-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

main {
    background-color: var(--background-white);
    display: grid;
    grid-template-columns: 1fr 1400px 1fr;
}

header {
    display: grid;
    background-color: var(--pure_white);
    grid-template-columns: 2fr 1fr;
    margin-top: 5px;
}

.header__left {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    align-self: center;
    grid-column-gap: 28px;
}

.header__right {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-self: center;
    grid-column-gap: 22px;
}

.header__logotip {
    margin-left: 20px;
    width: 100px;
    height: 40px;
    align-self: center;
}

.header__search-line {
    display: grid;
    grid-template-columns: 1fr 0;
    background-color: #F8F8F8;
    border-radius: 10px;
    border: solid 2px;
    border-color: var(--pure_white);
    -webkit-transition: border-color 1s;
    transition: border-color 1s;
}

.header__search-line:hover{
    border-color: var(--hover_purple);
}

.header__form-search {
    border-left-width: 10px;
    border-color: rgba(0, 0, 0, 0);
    width: 550px;
    height: 40px;
    background: #F8F8F8;
    border-radius: 10px;
}

.header__form-search:focus {
    outline: none;
}

.header__order {
    width: 88px;
    height: 56px;
    margin-left: 48px;
    padding: 4px 0 4px 0;
}

.header__favourites {
    width: 88px;
    height: 56px;
    padding: 4px 0 4px 0;
}

.header__card {
    width: 88px;
    height: 56px;
    padding: 4px 0 4px 0;
}

.header__profile {
    width: 88px;
    height: 56px;
    padding: 4px 0 4px 0;
}

.button-default {
    border-radius: 10px;
    border: none;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}

.header__button-catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 40px;
    text-decoration: none;
    color: var(--background-white);
}

.header__button-catalog:hover {
    background-color: var(--hover_purple)
}

.header__catalog-img {
    margin-right: 10px;
}

.header__button-search {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    grid-column: 3;
}

.header__button-search:hover {
    background-color: var(--hover_purple)
}

.page-name {
    width: 250px;
    height: 52px;
    text-align: center;
    justify-self: center;
    color: var(--shadow-dim);
}

.form {
    margin-top: 38px;
}

.form__field {
    margin-bottom: 16px;
}

.form__name {
    margin-left: 28px;
    margin-bottom: 5px;
    height: 20px;
    color: #171717;
}

.form__input {
    border-left-width: 12px;
    border-right-width: 12px;
    border-color: rgba(0, 0, 0, 0);
    margin-left: 17px;
    width: 344px;
    height: 40px;
    background: #F8F8F8;
    border-radius: 10px;
}

.form__input:focus {
    outline-color: var(--hover_purple);
}

.form__submit {
    margin-left: 20px;
    margin-top: 8px;
    width: 360px;
    height: 40px;
    background: #6369D1;
    align-items: center;
    color: var(--background-white);
}

.form__submit:hover {
    background: var(--hover_purple)
}

input::placeholder {
    height: 18px;
    color: var(--placeholder);
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

.text-normal-small {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.05em;
}

.text-normal-default {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}

.text-normal-default-bold {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
}

.text-normal-large {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}

.text-normal-huge {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
}

.link {
    text-decoration: none;
    color: var(--default_purple);
}

.link:hover {
    color: var(--hover_purple);
}
