.page {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1400px 1fr;
    grid-template-rows: 70px 1fr 70px;
}

.content {
    height: 91vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left {
    background-color: var(--background-white);
    display: grid;
    justify-items: center;
    align-items: center;
}

.right {
    background-color: var(--default_purple);
}

.signup {
    display: grid;
    grid-row-gap: 15px;
}

.signup__form {
    background-color: var(--pure_white);
    height: 436px;
    width: 400px;
    border-radius: 15px;
    display: grid;
    grid-template-rows: repeat(4, 63px) 1fr;
}

.signup__signin {
    height: 20px;
    text-align: center;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}
