.page {
    margin-left: auto;
    margin-right: auto;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    min-width: 1400px;
    height: 91vh;
}

.left {
    display: grid;
    justify-items: center;
    align-items: center;
}

.right {
}

.signup {
    display: grid;
    grid-row-gap: 16px;
}

.signup__form {
    margin-top: 14px;
    background-color: var(--pure_white);
    height: 436px;
    width: 400px;
    border-radius: 15px;
    display: grid;
    grid-template-rows: repeat(4, 63px) 1fr;
}

.signup__signin {
    height: 20px;
    text-align: center;
}
