<div class="order-block__itemcard">
    <img src="/img/Tablet.webp" class="order-block__itemcard__photo">
    <div class="text-normal-large-normal order-block__itemcard__title"> Apple iPhone 13 64 ГБ some text
        text text some text
    </div>
    <span class="text-normal-large order-block__itemcard__counter"> 99 шт.</span>
    <span class="text-normal-very-big order-block__itemcard__counter"> 123 321 Р</span>
</div>
