.form {
    margin-top: 38px;
}

.form__field {
    margin-bottom: 16px;
}

.form__name {
    margin-left: 28px;
    margin-bottom: 4px;
    height: 20px;
    color: var(--black-form);
}

.form__input {
    border-left-width: 12px;
    border-right-width: 12px;
    border-color: rgb(0 0 0 / 0%);
    margin-left: 16px;
    width: 344px;
    height: 40px;
    background: var(--background-white);
    border-radius: 10px;
}

.form__input:focus {
    outline-color: var(--hover-purple);
}

.form__submit {
    cursor: pointer;
    margin-left: 20px;
    margin-top: 8px;
    width: 360px;
    height: 40px;
    background: #6369d1;
    align-items: center;
    color: var(--background-white);
}

.form__submit:hover {
    background: var(--hover-purple);
}

.login__form__error {
    margin-left: 4px;
    margin-top: 10px;
}

@media (max-width: 991px) {
    .form__input {
        width: 244px;
    }
    
    .form__submit {
        width: 260px;
    }
}
