.comment {
    display: grid;
    grid-template-rows: 46px auto;
    gap: 8px;
}

.comment__header {
    display: grid;
    grid-template-columns: 46px auto 246px;
    gap: 32px;
    align-items: center;
}

.comment__userPhoto {
    width: 46px;
}

.comment__color-pure-black {
    color: var(--pure-black);
}

.comment__color-jet-black {
    color: var(--jet-black);
}

.comment__date-range {
    display: grid;
    grid-template-columns: 106px 124px;
    gap: 16px;
}

.comment_date {
    align-content: center;
    color: var(--secondary-purple);
}

.comment__content {
    display: grid;
    grid-template-rows: auto auto auto 38px;
    gap: 8px;
    margin-left: 78px;
}

.comment__content-sections {
    display: grid;
    grid-template-rows: 26px auto;
    gap: 4px;
}

.comment-content__like-dislike {
    display: flex;
    gap: 16px;
}

.comment-content__like-dislike_margin {
    margin-top: 10px;
}

.comment-content-like-button {
    display: grid;
    grid-template-columns: 28px 28px;
    gap: 4px;
    background: transparent;
    border: none;
    align-items: center;
    cursor: pointer;
}

.comment-page__rating-stars {
    justify-self: start;

    input {
      display: none;
    }

    label {
      float: right;
      position: relative;
      width: 20px;
      height: 20px;
      cursor: pointer;
  
  
      &:not(:first-of-type) {
        padding-right: 2px;
      }
  
      input:hover {
        font-size: 20px;
      }
  
      &:before {
        content: "\2605";
        font-size: 22px;
        color: var(--text_white);
        line-height: 24px;
      }
    }
  
    & > label:hover:before {
      font-size: 28px;
      margin-top: 55px;
    }
  
    input:checked ~ label:before,
    &:not(:checked) > label:hover:before,
    &:not(:checked) > label:hover ~ label:before {
      color: var(--yellow-star);
    }
}
