<div class="paint-background"></div>
<div class="content_add-comment">
    <div class="orders-page__header text-normal-huge"> Отзыв о товаре</div>

    <div class="add-comment-page__block" id="add-comment-page__block">
        <div class="add-comment-page__block__title">
            <span class="text-normal-large"> Общая оценка </span>
        </div>

        <div class="add-comment-page__rating-stars">
            <input class="rating-start" type="radio" id="star5" name="rating" value="5"/> <label for="star5"></label>
            <input class="rating-start" type="radio" id="star4" name="rating" value="4"/> <label for="star4"></label>
            <input class="rating-start" type="radio" id="star3" name="rating" value="3"/> <label for="star3"></label>
            <input class="rating-start" type="radio" id="star2" name="rating" value="2"/> <label for="star2"></label>
            <input class="rating-start" type="radio" id="star1" name="rating" value="1"/> <label for="star1"></label>
        </div>

        <span class="text-normal-large"> Расскажите подробнее </span>


        <div class="add-comment-page__block__input-fields">
            <div class="add-comment-page__block__input-fields__block">
                <span class="text-normal-default add-comment-page__block__input-fields__block__title"> Достоинства </span>
                <div class="add-comment-page__block__input-fields__block__field">
                        <textarea class="add-comment-page__block__input-fields__block__field__input text-normal-default"
                                  name="input-comment-field"
                                  placeholder="Что вам понравилось"></textarea>
                </div>
            </div>

            <div class="add-comment-page__block__input-fields__block">
                <span class="text-normal-default add-comment-page__block__input-fields__block__title"> Недостатки </span>
                <div class="add-comment-page__block__input-fields__block__field">
                        <textarea class="add-comment-page__block__input-fields__block__field__input text-normal-default"
                                  placeholder="Что не понравилось"></textarea>
                </div>
            </div>

            <div class="add-comment-page__block__input-fields__block">
                <span class="text-normal-default add-comment-page__block__input-fields__block__title"> Комментарий </span>
                <div class="add-comment-page__block__input-fields__block__field">
                        <textarea class="add-comment-page__block__input-fields__block__field__input text-normal-default"
                                  name="input-comment-field"
                                  placeholder="Другие впечатления"></textarea>
                </div>
            </div>

        </div>
        <div></div>
        <div class="button-default add-comment-page__block__input-fields__submit"> Отправить отзыв </div>

    </div>

</div>
<div class="paint-background"></div>
