.content_add-comment {
  max-width: 1400px;
  min-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.add-comment-page__block__title {
  align-self: center;
}

/* rating stars */

.add-comment-page__rating-stars {
  justify-self: start;

  label {
    float: right;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;


    &:not(:first-of-type) {
      padding-right: 2px;
    }

    input:hover {
      font-size: 40px;
    }

    &:before {
      content: "\2605";
      font-size: 42px;
      color: var(--background-grey);
      line-height: 44px;
    }
  }

  input {
    display: none;
  }

  & > label:hover:before {
    font-size: 48px;
    margin-top: 55px;
  }

  input:checked ~ label:before,
  &:not(:checked) > label:hover:before,
  &:not(:checked) > label:hover ~ label:before {
    color: var(--yellow-star);
  }
}

.rating-start:hover {

}

/* rating stars */

.add-comment-page__block {
  width: 1338px;
  height: 548px;
  display: grid;
  grid-template-rows: 1fr 9fr 2fr;
  grid-template-columns: 1fr 4fr;
  grid-row-gap: 32px;
  background-color: var(--pure_white);
  border-radius: 10px;
  margin-bottom: 32px;
  padding: 32px;
}

.add-comment-page__block__input-fields {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 16px;
}

.add-comment-page__block__input-fields__block__field {
  background-color: var(--background-white);
  border-radius: 10px;
  width: 824px;
  height: 96px;
  margin-top: 8px;
}

.add-comment-page__block__input-fields__block__field__input {
  border-color: rgba(0, 0, 0, 0);
  background: var(--background-white);
  border-radius: 10px;
  width: 824px;
  height: 88px;
  resize: none;
  border-left-width: 8px;
  border-top-width: 8px;
  border-right-width: 8px;
}

.add-comment-page__block__input-fields__block__field__input:focus {
  outline: none;
}

.add-comment-page__block__input-fields__block__title {
 color: var(--placeholder-color);
}

.add-comment-page__block__input-fields__submit {
  height: 40px;
  width: 840px;
  background-color: var(--default_purple);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--background-white);
  display: flex;
}

.add-comment-page__block__input-fields__submit:hover {
  background-color: var(--hover_purple);
}
