<link rel="stylesheet" href="./src/pages/UserPage/UserPage.css" type="text/css">

<div class="page">
    <header id="header"></header>

    <main class="paint-background">
        <div class="paint-background"></div>

        <div class="content">

            <div class=" global-card user-card">
                <img src="img/UserPhoto.png" class="user-photo" alt="user photo">

                <div class="user-name text-normal-large"> {{userInfo.userCard.name}}
                    <a href="/edit" class="disabled">
                        <img class="edit-button" src="img/editButton.svg" alt="edit button">
                    </a>
                </div>

                <div class="user-card-block">
                    <div class="user-card-block-title text-normal-large"> Почта</div>
                    <div class="user-card-block-data text-normal-large"> {{userInfo.userCard.email}}
                        <a href="/edit" class="disabled">
                            <img class="edit-button" src="img/editButton.svg" alt="edit button">
                        </a>
                    </div>

                </div>

                <div class="user-card-block">
                    <div class="user-card-block-title text-normal-large">Телефон</div>
                    <div class="user-card-block-data text-normal-large"> {{userInfo.userCard.phone}}
                        <a href="/edit" class="disabled">
                            <img class="edit-button" src="img/editButton.svg" alt="edit button">
                        </a>
                    </div>

                </div>

                    <a href="" class="user-card-block-password text-normal-large disabled"> Изменить пароль </a>


            </div>

            <div class="global-card payment-cards">
                <div class="payment-cards-block">
                    <div class="card-block-title text-normal-large"> Банковские карты</div>
                    <div class="payment-cards-items" id="payment-cards-items">

                    </div>
                </div>
            </div>

            <div class="global-card address-cards">
                <div class="address-cards-block">
                    <div class="card-block-title text-normal-large"> Адреса доставки</div>
                    <div class="address-cards-items" id="address-cards-items">

                    </div>
                </div>

            </div>


        </div>
    </main>

    <footer id="footer"></footer>

</div>
