.catalog-item-card {
  width: 1000px;
  height: 240px;
  background-color: var(--pure_white);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 240px 560px 200px;
  margin-bottom: 32px;
}

.catalog-item-card__pic-block {
  justify-self: center;
  align-self: center;
  height: 192px;
  width: 192px;
}

.catalog-item-card__pic-block__pic {
  height: 192px;
  width: 192px;
}

.catalog-item-card__description-block {
  margin-top: 24px;
  height: 196px;
}

.catalog-item-card__properties-block {
  margin-top: 8px;
  display: grid;
  grid-template-rows: 6fr 5fr 5fr 5fr 5fr;
  grid-row-gap: 6px;
}

.catalog-item-card__description-block__description-title {
  width: 440px;
  cursor: pointer;
  color: var(--jet-black);
  text-decoration: none;
}

.catalog-item-card__description-block__description-title:hover {
  color: var(--hover_purple);
  text-decoration: none;
}

.catalog-item-card__properties-block__property-line {
  align-self: center;
  height: 20px;
}

.catalog-item-card__sale-block {
  margin-top: 24px;
  display: grid;
  grid-template-rows: 12px 32px 40px 24px;
  grid-row-gap: 16px;
}

.catalog-item-card__ex-price-and-like-block__ex-price {
  color: var(--secondary-purple);
}

.catalog-item-card_button-add-to-cart {
  width: 104px;
  height: 40px;
  }

.button_add-to-card {
  align-items: center;
  justify-content: center;
  display: flex;
  text-decoration: none;
  color: var(--background-white);
  cursor: pointer;
}

.button_add-to-card:hover {
  background-color: var(--hover_purple);
}

.catalog-item-card__sale-block__catalog-price {
  justify-self: start;
}

.catalog-item-card__ex-price-and-like-block__like-icon {
  fill: #999AAD;
  height: 24px;
  width: 24px;
}

.catalog-item-card__ex-price-and-like-block__like-icon:hover {
  fill: #333333;
  cursor: pointer;
}

.catalog-item-card-properties-block__rating-block {
  display: flex;
  gap: 4px;
}

.catalog-item-card__description-block__properties-block__rating-block__star-icon {
  width: 16px;
  height: 16px;
}

.catalog-item-card-properties-block__rating-block__rating-num {
  align-self: center;
  margin-left: 2px;
  height: 24px;
}

.catalog-item-card__sale-block__ex-price-and-like-block {
  display: grid;
  grid-template-columns: 152px 24px;
}

.catalog_amount-selector {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
  border: 1px solid var(--jet-black);
  border-radius: 10px;
  height: 38px;
  width: 104px;
}

.catalog_amount-selector__amount {
  min-width: 28px;
  display: flex;
  justify-content: center;
  align-self: center;
}

/* Temp start */

.checkbox-opt {
  width: 3ex;
  height: 3ex;
  color: var(--default_purple);
  vertical-align: middle;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 30%;
  background: var(--90_white) none;
  transition: background 300ms;
  cursor: pointer;
}

/* Pseudo element for check styling */

.checkbox-opt::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px var(--shadow-default);
}

/* Checked */

.checkbox-opt:checked {
  background-color: currentcolor;
}

.checkbox-opt:checked::before {
  box-shadow: none;
  background-image: url("../../../img/tick-icon.svg");
}

/* Disabled */

.checkbox-opt:disabled {
  background-color: var(--purple_disabled);
  opacity: 0.84;
  cursor: not-allowed;
}

.favourite-opt {
  @extend .checkbox-opt;
  color: var(--90_white);
  height: 20px;
  width: 20px;
}

.favourite-opt::before {
  background-image: url('../../../img/Like-void.svg');
  box-shadow: none;
  transition: background 1s steps(32);
  transition-duration: 0.1s;
}

.favourite-opt:checked::before {
  background-image: url('../../../img/Like.svg');
  transition: background 1s steps(32);
  transition-duration: 0.1s;
}

.button-notext {
  @extend .button-default;
  padding: 0 8px 0 8px;
  color: inherit;
  background-color: inherit;
  font-size: 20px;
}

.link-no-color {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.button-default {
  @extend .text-normal-default;
  border-radius: 10px;
  border: none;
  text-align: center;
}

.text-normal-default {
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

/* Temp end */
