.catalog_items-block{
    display: grid;
    gap: 32px;
}

.catalog_items-block:last-child {
    margin-bottom: 32px;
}

.catalog-item-card {
    padding: 8px 16px 8px 16px;
    background-color: var(--pure-white);
    border-radius: 10px;
    display: grid;
    grid-template-columns: min-content 1fr 180px min-content;
    gap: 8px;
}

.catalog-item-card__pic-block {
    justify-self: center;
    align-self: center;
    padding: 0 8px 0 8px;
}

.catalog-item-card__pic-block__pic {
    height: 192px;
    width: 192px;
}

.catalog-item-card__description-block {
    margin-top: 24px;
}

.catalog-item-card__properties-block {
    margin-top: 8px;
    display: grid;
    grid-template-rows: 6fr 5fr 5fr 5fr 5fr;
    grid-row-gap: 6px;
}

.catalog-item-card__description-block__description-title {
    cursor: pointer;
    color: var(--jet-black);
    text-decoration: none;
    overflow: hidden;
}

.catalog-item-card__description-block__description-title:hover {
    color: var(--hover-purple);
    text-decoration: none;
}

.catalog-item-card__properties-block__property-line {
    align-self: center;
    height: 20px;
    overflow: hidden;
}

.catalog-item-card__sale-block {
    margin-top: 24px;
    display: grid;
    grid-template-rows: 12px 32px 40px 24px;
    grid-row-gap: 16px;
}

.catalog-item-card__ex-price-and-like-block__ex-price {
    color: var(--secondary-purple);
}

.catalog-item-card__button-add-to-cart {
    width: 104px;
    height: 40px;
}

.button__add-to-card {
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: var(--background-white);
    cursor: pointer;
}

.button__add-to-card:hover {
    background-color: var(--hover-purple);
}

.catalog_button-favourite {
    padding-top: 100%;
}

.catalog-item-card__sale-block__catalog-price {
    justify-self: start;
}

.catalog-item-card__ex-price-and-like-block__like-icon {
    fill: #999aad;
    height: 24px;
    width: 24px;
}

.catalog-item-card__ex-price-and-like-block__like-icon:hover {
    fill: #333;
    cursor: pointer;
}

.catalog-item-card-properties-block__rating-block {
    display: flex;
    gap: 4px;
}

.catalog-item-card__description-block__properties-block__rating-block__star-icon {
    width: 16px;
    height: 16px;
}

.catalog-item-card-properties-block__rating-block__rating-num {
    align-self: center;
    margin-left: 2px;
    height: 24px;
}

.catalog__amount-selector {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
    border: 1px solid var(--jet-black);
    border-radius: 10px;
    height: 38px;
    //width: 104px;
    width: 100%;
    //margin-right: 10px;
}

.catalog__amount-selector__amount {
    min-width: 28px;
    display: flex;
    justify-content: center;
    align-self: center;
}

@media (max-width: 991px) {
    .catalog-item-card {
        grid-template-columns: max-content auto max-content;
        margin-bottom: 16px;
    }

    .catalog-item-card__pic-block__pic {
        height: 160px;
        width: 160px;
    }
}

@media (max-width: 767px) {
    .catalog-item-card__pic-block__pic {
        height: 100px;
        width: 100px;
    }

    .catalog-item-card__sale-block {
        margin-right: 8px;
    }

    .catalog-item-card__sale-block__catalog-price.text-normal-very-large__bold {
        font-size: 20px;
        line-height: 26px;
    }

    .catalog-item-card__ex-price-and-like-block__ex-price.text-normal-large__strikethrough {
        font-size: 15px;
        line-height: 20px;
    }
}
