:root {
    --hover_purple: #3F47D0;
    --pure_white: #FFFFFF;
    --background-white: #F8F8F8;
    --purple_disabled: #6369D1;
    --default_purple: #6369D1;
    --footer_text_grey: #333333;
    --default_purple: #6369D1;
    --secondary-purple: #999AAD;
    --shadow-default: #D6D6D6;
    --pink-accent: #D14372;
    --apple-shadow: drop-shadow(0 0 20px var(--shadow-default));
    --90_white: rgba(255, 255, 255, 0.9);
    --green-shinny: #68B684;
    --green-correct: #32A416;
    --shadow-dim: #000000FF;
    --apple-dim-shadow: drop-shadow(0 4 20px var(--shadow-dim));
    --border-color: 0.5px solid rgba(111, 111, 111, 0.24);;
}