.input-field-error {
    position: absolute;
    color: #EEEEEE;
    background-color: #C54A4C;
    margin-left: 5px;
    margin-top: 7px;
    display: inline;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

.input-field-error__text {
    display: inline-block;
    font-family: ibm-plex-sans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.server-error {
    color: #EEEEEE;
    background-color: #C54A4C;
    margin-left: 5px;
    margin-top: 7px;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

.server-error__text {
    display: inline-block;
    font-family: ibm-plex-sans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
}
