<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{{!--    <meta http-equiv="Content-Security-Policy"--}}
{{!--          content="default-src 'none'; script-src 'self'; connect-src 'self'; img-src 'self' img.reazon.ru img.mvideo.ru blob:; style-src 'self' 'unsafe-inline';base-uri 'self'; form-action 'self'; font-src 'self' fonts.gstatic.com; manifest-src 'self'; upgrade-insecure-requests">--}}
    <title>Reazon</title>
</head>
<body id="body">
<div id="root"></div>
</body>
</html>
