<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <meta http-equiv="Content-Security-Policy"-->
<!--          content="default-src 'none'; script-src 'self'; connect-src 'self'; img-src 'self' img.mvideo.ru; style-src 'self' 127.0.0.1:8081/;base-uri 'self'; form-action 'self'; font-src 'self' fonts.gstatic.com; manifest-src 'self'; upgrade-insecure-requests">-->
    <title>Reazon</title>
</head>
<body>
<div id="root"></div>
</body>
</html>
