:root {
    --text_white: #EEEEEE;
    --background-red: #C54A4C;
}

.input-field-error {
    position: absolute;
    color: var(--text_white);
    background-color: var(--background-red);
    margin-left: 5px;
    margin-top: 10px;
    display: inline;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

.input-field-error__text {
    display: inline-block;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.server-error {
    color: var(--text_white);
    background-color: var(--background-red);
    margin-left: 5px;
    margin-top: 10px;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

.server-error__text {
    display: inline-block;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
}
