<div class="paint-background"></div>
<div class="content__orders">
    <div class="orders-page__header" id="orders-page__header">
        <span class="orders-page__header-text text-normal-huge">Заказы</span>
    </div>
 {{#if this}}  
    <div class="">
        <img class="login__right-img" src="/img/Empty_page.svg"
             alt="Image with a blank sheet">
    </div>
 {{/if}}
</div>
<div class="paint-background"></div>
