<div class="paint-background"></div>
<div class="content_orders">
    <div class="orders-page__header text-normal-huge"> Заказы</div>

    <div class="orders-page__block" id="orders-page__block">
        <div class="order-block">
            <div class="order-block__header">
                <span class="text-normal-very-big order-block__header__status"> Статус заказа </span>
                <span class="text-normal-large-normal order-block__header__number"> Номер заказа </span>
            </div>

            <div class="order-block__content">
                <div class="order-block__itemcards-block">
                    <div class="order-block__itemcard">
                        <img src="./../../img/Tablet.png" class="order-block__itemcard__photo">
                        <div class="text-normal-large order-block__itemcard__title"> Apple iPhone 13 64 ГБ some text
                            text textt \r
                            some
                        </div>
                        <span class="text-normal-large order-block__itemcard__counter"> 99 шт.</span>
                        <span class="text-normal-very-big order-block__itemcard__counter"> 123 321 Р</span>


                    </div>

                </div>

                <div></div>

                <div class="order-block__info-block">
                    <div class="order-block__info-block__split-line">
                        <span class="text-normal-very-big"> Итого </span>
                        <span class="text-normal-very-big justify-end"> 10 111 111 ₽ </span>

                    </div>
                    <div class="order-block__info-block__split-line">
                        <span class="text-normal-default"> Товары, Х шт.</span>
                        <span class="text-normal-default justify-end"> 123 456 ₽</span>
                    </div>
                    <div class="order-block__info-block__split-line">
                        <span class="text-normal-default"> Доставка</span>
                        <span class="text-normal-default justify-end"> Бесплатно</span>
                    </div>
                    <div class="order-block__info-block__split-line">
                        <span class="text-normal-default"> Адрес </span>
                        <span class="text-normal-default justify-end">  г. Москва, ул. Бауманская 2-я, д. 5, стр. 1 воаримрол иымароиамроиырамо ыравимыриамы ырамщым </span>


                    </div>
                    <div class="order-block__info-block__split-line">
                        <span class="text-normal-default"> Оформлено </span>
                        <span class="text-normal-default justify-end"> 01/01/1970 </span>
                    </div>
                    <div class="order-block__info-block__split-line">
                        <span class="text-normal-default"> Доставка </span>
                        <span class="text-normal-default justify-end"> Курьером </span>
                    </div>
                    <div class="order-block__info-block__split-line">
                        <span class="text-normal-default"> Дата </span>
                        <span class="text-normal-default justify-end"> 01/01/1970 </span>
                    </div>
                    <div class="order-block__info-block__split-line">
                        <span class="text-normal-default"> Время </span>
                        <span class="text-normal-default justify-end"> 10:00 - 18:00 </span>
                    </div>
                    <div class="order-block__info-block__split-line">
                        <span class="text-normal-default"> Оплата </span>
                        <span class="text-normal-default justify-end"> Картой </span>
                    </div>

                    <div class="button-default button-cancel-order"> Отменить заказ</div>


                </div>
            </div>
        </div>


    </div>

</div>
<div class="paint-background"></div>
