<div class="paint-background"></div>
<div class="content__orders">
    <div class="orders-page__header text-normal-huge"> Заказы</div>

    <div class="orders-page__block" id="orders-page__block">

    </div>

</div>
<div class="paint-background"></div>
