.content__orders {
  max-width: 1400px;
  min-width: min(1400px, 100%);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: 32px;
}

.orders-page__header {
  margin-top: 32px;
}

@media (max-width: 991px) {
  .orders-page__header {
    margin-top: 16px;
  }

  .orders-page__header-text.text-normal-huge {
    margin-left: 32px;
    font-size: 32px;
    line-height: 42px;
  }

}

@media (max-width: 767px) {
  .content__orders {
    gap: 16px;
  }
}
