<div class="paint-background"></div>
<div class="content__orders">
    <div class="orders-page__header" id="orders-page__header">
        <span class="orders-page__header-text text-normal-huge">Заказы</span>
    </div>
</div>
<div class="paint-background"></div>
