.item-card__text-strikethrough {
    align-self: center;
}

.item-card__image {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    cursor: pointer;
    height: 160px;
    width: 160px;
}

.a-inherit {
    all: inherit;
    text-decoration: none;
}

.item-card__rating {
    background: transparent;
    border: none;
}

.item-card__top {
    text-decoration: none;
}

.item-card__top:disabled {
    opacity: .4;
}

.item-card__top:visited {
    color: inherit;
}

.item-card__bottom {
    display: flex;
    justify-content: space-between;
}

.item-card__bottom:disabled {
    opacity: .4;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
}

.item-card__textbox {
    display: grid;
    height: 88px;
    margin-top: 8px;
    gap: 8px;
    align-items: baseline;
    grid-auto-rows: min-content;
}

.item-card__price {
    display: flex;
    justify-content: space-between;
}

.item-card__title {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 80px;
    cursor: pointer;
}

.content__sales-image {
    display: grid;
    grid-template-columns: 1fr 0;
    justify-items: center;
    align-items: end;
}

.content__sales-value {
    display: flex;
    border-radius: 16px;
    width: 42px;
    height: 20px;
    color: var(--pure-white);
    background-color: var(--pink-accent);
    margin-right: 16px;
    justify-content: center;
    align-items: center;
}

.item-card {
    display: grid;
    grid-gap: 4px;
    padding: 16px 20px;
    background: var(--90-white);
    color: var(--jet-black);
    border-radius: 10px;
    border: none;
    text-decoration: none;
    align-content: space-between;
    align-items: center;
}

.item-card:hover {
    filter: var(--apple-shadow);
}

.item-card__button-add-to-card {
    width: 100px;
    height: 40px;
    justify-self: left;
    margin-right: 10px;
}

.item-card__block__button-add-to-cart {
    width: 100px;
}
