<link rel="stylesheet" href="./src/components/ItemCard/ItemCard.css" type="text/css">

<a href="" class="item-card__top">
    <div class="text-normal-small content__sales-image">
        <img src="./img/items_photo/iPhone.png" alt="iPhone 13">
        {{#if this.salePrice}}
            <div class="content__sales-value">
                12%
            </div>
        {{/if}}
    </div>

    <div class="item-card__textbox">
                <span class="text-normal-large">
                    {{this.price}}₽
                </span>
        {{#if salePrice}}
            <span class="text-normal-default item-card__text-strikethrough">
                    {{salePrice}}₽
                </span>
        {{/if}}
        <span class="text-normal-default item-card__title">
            {{cardTitle}}
        </span>
    </div>
</a>

<div class="item-card__bottom">
    <button type="button" class="button-default button_add-to-card">В корзину
    </button>
    <button type="button" class="item-card__rating">
        <img src="img/Star.svg" alt="S" class="rating-icon">
        <span class="text-normal-default-bold">
            {{rating}}
        </span>
    </button>
</div>