.item-card__text-strikethrough {
    text-decoration: line-through;
    color: var(--secondary-purple);
    align-self: center;
}

.item-card__image {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    cursor: pointer;
}

.a-inherit {
    all: inherit;
    text-decoration: none;
}

.item-card__rating {

}

.item-card__rating {
    background: transparent;
    border: none;
}

.item-card__top {
    text-decoration: none;
}

.item-card__top:disabled {
    opacity: 40%;
}

.item-card__top:visited {
    color: inherit;
}

.item-card__bottom {
    justify-content: flex-end;
    display: grid;
    grid-template-columns: 2.8fr 1fr;
}

.item-card__bottom:disabled {
    opacity: 40%;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
}

.item-card__textbox {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: [c0-start] 1fr [c0-end c1-strart] 1fr [c1-end];
    margin-top: 8px;
}

.item-card__title {
    grid-column: c0-start / c1-end;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 40px;
    cursor: pointer;
}


.content__sales-image {
    display: grid;
    grid-template-columns: 1fr 0;
    justify-items: center;
    align-items: end;
}

.item-card__image {
    height: auto;
    width: 100%;
}

.content__sales-value {
    border-radius: 20px;
    width: 40px;
    height: 20px;
    color: var(--pure_white);
    background-color: var(--pink-accent);
    margin-right: 10px;
}

.item-card {
    display: grid;
    grid-template-rows: 165px 96px 40px;
    grid-gap: 5px;
    width: 160px;
    height: 312px;
    padding: 16px 16px 16px 16px;
    background: var(--90_white);
    border-radius: 10px;
    border: none;
    align-items: center;
    text-align: center;
    color: var(--jet-black);
    text-decoration: none;
}

.item-card:hover {
    filter: var(--apple-shadow);
}


.itemcard_button_add-to-card {
    width: 100px;
    height: 40px;
    justify-self: left;
    margin-right: 10px;

}

.itemcard_block-button-add-to-cart {
    width: 100px;
}
