.popUp-fade {
  left: 0;
  top: 0;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  content: "";
  opacity: .7;
  z-index: 999;
  background: #000;
}

.popUp {
  position: fixed;
  margin: auto;
  inset: 0;
  display: none;
  width: min(410px, 100%);
  height: 360px;
  background-color: var(--pure-white);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 34px 40px;
  opacity: 1;
  z-index: 99999;
}

.content__cart {
  max-width: 1400px;
  min-width: min(1400px, 100%);
  display: grid;
  grid-template-columns: 1000fr 368fr;
  gap: 32px;
  margin: 32px 0;
  align-items: start;
}

.content__cart__left {
  display: grid;
  grid-template-areas:
        "items-cart items-cart"
        "address-cart address-cart"
        "payment-cart user-data-cart";
  grid-template-rows: 1fr 274px 136px;
  gap: 32px;
}

%box__cart {
  display: grid;
  background: var(--90-white);
  border-radius: 10px;
  border: none;
  color: var(--jet-black);
  text-decoration: none;
  padding: 16px 32px;
}

.box__cart {
  @extend %box__cart;
}

.items-cart__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-cart {
  @extend %box__cart;
  grid-area: items-cart;
}

.address-cart {
  @extend %box__cart;
  grid-area: address-cart;
  gap: 16px;
}

.payment-cart {
  @extend %box__cart;
  grid-area: payment-cart;
  align-items: start;
}

.user-data-cart {
  @extend %box__cart;
  grid-area: user-data-cart;
  align-items: start;
}

.content__cart__right {
  display: grid;
  grid-template-areas:
        "summary-cart"
        "cart__promocode-block ";
  gap: 32px;
}

.horizontal-line {
  align-items: center;
  border-bottom: .5px solid var(--secondary-purple);
  display: flex;
  margin-top: 16px;
  text-align: center;
  border-radius: 10px;
}

.checkboxes__cart {
  display: grid;
  gap: 16px;
  margin: 16px 0;
}

/* Basic styling of checkbox-opt */

%checkbox-opt {
  width: 24px;
  height: 24px;
  color: var(--default-purple);
  vertical-align: middle;
  appearance: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 30%;
  background: var(--90-white) none;
  transition: background 300ms;
  cursor: pointer;
}

.checkbox-opt {
  @extend %checkbox-opt;
}

/* Pseudo element for check styling */

%checkbox-opt::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px var(--shadow-default);
}

/* Checked */

%checkbox-opt:checked {
  background-color: currentcolor;
}

%checkbox-opt:checked::before {
  box-shadow: none;
  background-image: url("../../../img/tick-icon.svg");
}

/* Disabled */

%checkbox-opt:disabled {
  background-color: var(--purple-disabled);
  opacity: .84;
  cursor: not-allowed;
}

.favourite-opt {
  @extend %checkbox-opt;
  color: var(--90-white);
  height: 20px;
  width: 20px;
}

.favourite-opt::before {
  background-image: url("../../../img/Like-void.svg");
  box-shadow: none;
  transition: background 1s steps(32);
  transition-duration: .1s;
}

.favourite-opt:checked::before {
  background-image: url("../../../img/Like.svg");
  transition: background 1s steps(32);
  transition-duration: .1s;
}

.item-cart__selection {
  margin-top: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.address-cart__main {
  display: grid;
  grid-template-columns: 152px 1fr;
  gap: 16px;
  align-content: space-evenly;
  align-items: center;
}

.address-cart__title {
  color: var(--jet-black);
}

/* select */

.select {
  display: flex;
  flex-direction: column;
  width: 128px;
  height: 40px;
}

%option__select {
  padding: 0 8px;
  min-height: 40px;
  display: flex;
  align-items: center;
  background: var(--background-white);
  border-top: var(--shadow-default) solid .5px;
  opacity: 0;
  top: 0;
  width: 100%;
  pointer-events: none;
  order: 2;
  z-index: 1;
  transition: background .4s ease-in-out;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  justify-content: space-between;
  cursor: pointer;
}

%option__select:hover {
  background: var(--shadow-default);
  cursor: pointer;
}

.select:focus %option__select {
  position: relative;
  pointer-events: all;
  opacity: 1;
  border-radius: 0;
}

.select-opt {
  opacity: 0;
  position: absolute;
  left: -40000px;
}

.select-opt:checked + %option__select {
  order: 1;
  background: var(--background-white);
  border-top: none;
  position: relative;
  border-radius: 10px;
  opacity: 1;
}

.select:focus .option_select {
  opacity: 1;
}

.select:focus .select-opt:checked + %option__select {
  border-radius: 10px 10px 0 0;
}

.select-opt:checked + %option__select::after {
  content: "";
  width: 12px;
  height: 8px;
  top: calc(50% - 4px);
  pointer-events: none;
  background: url("../../../img/select-arrow.svg");
}

.option__select__date {
  @extend %option__select;
  z-index: 2;
}

.option__select__time {
  @extend %option__select;
  z-index: 1;
}

%payment-method__cart {
  display: flex;
  gap: 12px;
  align-items: center;
}

.payment-method__cart {
  @extend %payment-method__cart;
}

.payment-method-provider {
  width: 28px;
  height: 24px;
}

.payment-method__cart__expiry {
  color: var(--secondary-purple);
}

.user-data-cart__bottom {
  @extend %payment-method__cart;
}

.user-data-cart__avatar {
  object-fit: cover;
  border-radius: 50%;
  height: 46px;
  width: 46px;
}

.summary-cart {
  @extend %box__cart;
  display: grid;
  gap: 32px;
  grid-template-rows: 42px;
}

.summary-cart__price {
  @extend %summary-cart__delivery;
  color: var(--secondary-purple);
}

%summary-cart__item-price {
  display: flex;
  gap: 4px;
  justify-content: space-between;
  align-items: flex-start;
}

.summary-cart__item-price {
  @extend %summary-cart__item-price;
}

%summary-cart__delivery {
  display: grid;
  gap: 16px;
}

.summary-cart__delivery {
  @extend %summary-cart__delivery;
}

%summary-cart__delivery-info {
  @extend %summary-cart__item-price;
  justify-content: flex-start;
}

.summary-cart__delivery-info {
  @extend %summary-cart__delivery-info;
}

.summary-cart__payment-method {
  @extend %summary-cart__delivery;
}

.summary-cart__payment-info {
  @extend %summary-cart__delivery-info;
}

.summary-cart__create-order-button {
  display: flex;
  background: var(--default-purple);
  color: var(--background-white);
  justify-content: center;
  align-items: center;
  height: 40px;
  cursor: pointer;
}

.summary-cart__create-order-button:hover {
  background: var(--hover-purple);
}

.summary_cart__create-order-button {
  display: flex;
  background: var(--default-purple);
  padding: 0 16px 0 16px;
  color: var(--text-white);
  justify-content: center;
  align-items: center;
  height: 40px;
  cursor: pointer;
}

.cart-main__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.cart__promocode-block {
  @extend %box__cart;
  display: grid;
  grid-template-rows: 6fr 9fr 5fr;
  gap: 16px;
}

.cart__promocode-block__input-submit-block {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 16px;
}

.cart__promocode-block__input-submit-block__input-block {
  margin-left: 0;
  width: 100%;
}

.cart__promocode-block__input-submit-block__input-field {
  margin-left: 0;
  width: 88%;
}

.cart__promocode-block__input-block__submit-button {
  background: var(--background-grey);
  justify-content: center;
  display: flex;
  width: 100px;
  height: 40px;
  align-self: center;
  align-items: center;
}

.paint-text-green-correct {
  color: var(--green-correct);
}

.paint-text-background-red {
  color: var(--background-red);
}

.cart__promocode-block__input-block__submit-button:hover {
  background: var(--dark-grey);

}

@media (max-width: 991px) {
  .content__cart {
    grid-template-columns: none;
    grid-template-rows: auto auto;
    margin: 16px 0;
  }

  .cart__promocode-block__input-submit-block__input-field {
    display: flex;
    width: 94%;
  }
}

@media (max-width: 767px) {
  .content__cart {
    grid-template-columns: none;
    grid-template-rows: auto auto;
    margin: 16px 0;
    gap: 16px;
  }

  %box__cart {
    padding: 8px 10px;
  }

  .checkboxes__cart {
    gap: 32px;
  }

  .content__cart__left {
    grid-template-rows: 1fr auto auto;
    gap: 16px;
  }

  .payment-cart {
    grid-column-end: 3;
    height: 24vw;
  }

  .user-data-cart {
    grid-row-start: 4;
    grid-column-start: 1;
    height: 24vw;
  }
}
