<div class="paint-background"></div>
<div class="content_cart">
    <div class="content_cart__left">
        <div class="items_cart">
            <span class="text-normal-very-large">Корзина</span>
            <form class="text-normal-default">
                <label class="item_cart__selection">
                    <input type="checkbox" class="checkbox-opt" id="item_cart__select-all">
                    <span>Выбрать все</span>
                </label>
                <div class="horizontal-line"></div>
            <div id="checkboxes_cart">

            </div>
            </form>
        </div>
        <div class="address_cart">
            <span class="text-normal-very-large">Доставка</span>
        </div>
        <div class="payment_cart">
            <span class="text-normal-very-large">Способ оплаты</span>
        </div>
        <div class="user-data_cart">
            <span class="text-normal-very-large">Ваши данные</span>
        </div>
    </div>
    <div class="content_cart__right">
        <div class="summary_cart">
            <span class="text-normal-very-large">Итого</span>
        </div>
    </div>
</div>
<div class="paint-background"></div>
