.content__main {
    max-width: 1400px;
    min-width: min(1400px, 100vw);
    padding-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-white);
    display: grid;
    grid-template-rows: 160px 60px 1fr 60px 1fr;
}

.content__catalog {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 16px;
    height: 40px;
}

.content__sales-title {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.content__popular-title__timer {
    display: flex;
    border-radius: 16px;
    color: var(--text-white);
    background-color: var(--pink-accent);
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
}

%left-arrow {
    display: flex;
    align-items: center;
}

.left-arrow {
    @extend %left-arrow;
}

.right-arrow {
    @extend %left-arrow;
}

.arrow:disabled {
    cursor: pointer;
}

.arrow-button {
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    z-index: 1;
}

.arrow-button:hover {
    filter: var(--apple-shadow);
}

.content-main__sales{
    display: flex;
    gap: 8px;
}

.content__popular-title {
    margin-left: 20px;
}

@media (max-width: 991px) {
    .content__main {
        grid-template-rows: auto 60px 350px 60px 350px;
        gap: 10px;
    }

    .content__catalog {
        grid-template-columns: repeat(7, auto);
        grid-gap: 8px;
        height: 72px;
    }

    .left-arrow {
        display: none;
    }

    .right-arrow {
        display: none;
    }
}

@media (max-width: 767px) {
    .content__catalog {
       overflow-y: auto;
       margin-left: 16px;
       margin-right: 16px;
       grid-gap: 16px;
    }

    .content__sales-title.text-normal-huge {
        font-weight: 500;
        font-size: 32px;
        line-height: 42px;
    }

    .content__popular-title.text-normal-huge {
        font-weight: 500;
        font-size: 32px;
        line-height: 42px;
    }
}
