<div class="paint-background"></div>
<div class="content__main" id="content_main">
    <div class="content__catalog" id="catalog"></div>
    <div class="content__sales-title text-normal-huge">
        <span>
            Время скидок
        </span>
        <span class="content__popular-title__timer text-normal-large" id="main-page-sale-timer">
            06:35
        </span>
    </div>
{{!--    <div class="content-main__sales">--}}
{{!--    <div>--}}
    <div class="content__sales" id="content__sales">
{{!--        <div class="left-arrow">--}}
{{!--            <button type="button" class="arrow-button text-normal-default">--}}
{{!--                <img src="/img/Left-arrow.webp" class="arrow" alt="left arrow button">--}}
{{!--            </button>--}}
{{!--        </div>--}}
{{!--        <div class="right-arrow" id="salesCard__right-arrow">--}}
{{!--            <button type="button" class="arrow-button text-normal-default">--}}
{{!--                <img src="/img/Right-arrow.webp" class="arrow" alt="right arrow button">--}}
{{!--            </button>--}}
{{!--        </div>--}}
    </div>
{{!--    </div>--}}
{{!--    </div>--}}

    <div class="content__popular-title text-normal-huge">
        Популярное
    </div>
    <div class="content__popular" id="content__popular">
{{!--        <div class="left-arrow">--}}
{{!--            <button type="button" class="arrow-button text-normal-default">--}}
{{!--                <img src="/img/Left-arrow.webp" class="arrow" alt="left-arrow button">--}}
{{!--            </button>--}}
{{!--        </div>--}}
{{!--        <div class="right-arrow" id="popularCard__right-arrow">--}}
{{!--            <button type="button" class="arrow-button text-normal-default">--}}
{{!--                <img src="/img/Right-arrow.webp" class="arrow" alt="right-arrow button">--}}
{{!--            </button>--}}
{{!--        </div>--}}
    </div>
</div>
<div class="paint-background"></div>
