.content_main {
    max-width: 1400px;
    min-width: 1400px;
    padding-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-white);
    display: grid;
    grid-template-rows: 160px 60px 1fr 60px 1fr;
}

.content__catalog {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1em;
    height: 40px;
}

.content__sales-title {
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: left;
}

.content__popular-title__timer {
    border-radius: 20px;
    width: 60px;
    height: 30px;
    color: var(--pure_white);
    background-color: var(--pink-accent);
    padding-left: 10px;
    margin-left: 10px;
    padding-top: 3px;
    margin-top: 15px;
}

.arrow:disabled {
    cursor: pointer;
}

.arrow-button {
    margin-left: 10px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    opacity: 40%;
}

.arrow-button:hover {
    filter: var(--apple-dim-shadow);
}

.arrow-button-left {
    margin-top: 171px;
}


.arrow-button-right {
    margin-top: 171px;
}

.content__sales {
    margin-top: 2px;
    display: grid;
    grid-template-columns: 60px repeat(6, 1fr) 60px;
}

.content__popular {
    margin-top: 2px;
    display: grid;
    grid-template-columns: 60px repeat(6, 1fr) 60px;
}

.content__popular-title {
    margin-left: 20px;
}
