<div class="paint-background"></div>
<div class="content__main" id="content_main">
    <div class="content__catalog" id="catalog"></div>
    <div class="content__sales-title text-normal-huge">
        <span>
            Время скидок
        </span>
        <span class="content__popular-title__timer text-normal-large" id="main-page-sale-timer">
            06:35
        </span>
    </div>

    <div class="content__main-horizontal-scroll" id="content__sales">

    </div>

    <div class="content__popular-title text-normal-huge">
        Популярное
    </div>
    <div class="content__main-horizontal-scroll" id="content__popular">

    </div>
</div>
<div class="paint-background"></div>
