<div class="footer__grid">
    <div>
        <a href="/">
            <img src="/img/Logo.webp" alt="Reazon logo" class="logo-reazon">
        </a>
    </div>
    <div class="footer__members">
        <div class="footer__team-member">
            <div class="footer__member-name text-normal-large-normal">Артем Колесников</div>
            <div class="footer__member-contact">
                <a href="https://vk.com/sunbringer"><img src="/img/VK_logo.webp" class="footer__contact-logo"
                                                         alt="VK logo with link to Artem's VK page"></a>
                <a href="https://t.me/EuphoriaAbsorber"><img src="/img/TG_logo.webp"
                                                             class="footer__contact-logo footer__margin-contact-logo"
                                                             alt="Telegram logo with link to TG of Artem"></a>
                <a href="https://github.com/EuphoriaAbsorber"><img src="/img/Github_logo.webp"
                                                                   class="footer__contact-logo footer__margin-contact-logo"
                                                                   alt="GitHub logo with link to Artem's GitHub page"></a>
            </div>
        </div>
        <div class="footer__team-member">
            <div class="footer__member-name text-normal-large-normal">Елизавета Максимова</div>
            <div class="footer__member-contact">
                <a href="https://vk.com/liza1040"><img src="/img/VK_logo.webp" class="footer__contact-logo"
                                                       alt="VK logo with link to Elizaveta's VK page"></a>
                <a href="https://t.me/liza1040"><img src="/img/TG_logo.webp"
                                                     class="footer__contact-logo footer__margin-contact-logo"
                                                     alt="Telegram logo with link to TG of Elizaveta"></a>
                <a href="https://github.com/Liza1040"><img src="/img/Github_logo.webp"
                                                           class="footer__contact-logo footer__margin-contact-logo"
                                                           alt="GitHub logo with link to Elizaveta's GitHub page"></a>
            </div>
        </div>
        <div class="footer__team-member">
            <div class="footer__member-name text-normal-large-normal">Владислав Пиневич</div>
            <div class="footer__member-contact">
                <a href="https://vk.com/tunknownlegend"><img src="/img/VK_logo.webp" class="footer__contact-logo"
                                                             alt="VK logo with link to Vlad's VK page"></a>
                <a href="https://t.me/tUnknownLegend"><img src="/img/TG_logo.webp"
                                                           class="footer__contact-logo footer__margin-contact-logo"
                                                           alt="Telegram logo with link to TG of Vlad"></a>
                <a href="https://github.com/tUnknownLegend"><img src="/img/Github_logo.webp"
                                                                 class="footer__contact-logo footer__margin-contact-logo"
                                                                 alt="GitHub logo with link to Vlad's GitHub page"></a>
            </div>
        </div>
        <div class="footer__team-member">
            <div class="footer__member-name text-normal-large-normal">Александр Федоров</div>
            <div class="footer__member-contact">
                <a href="https://vk.com/thelvv"><img src="/img/VK_logo.webp" class="footer__contact-logo "
                                                     alt="VK logo with link to Alexander's VK page"></a>
                <a href="https://t.me/thelvv"><img src="/img/TG_logo.webp"
                                                   class="footer__contact-logo footer__margin-contact-logo"
                                                   alt="Telegram logo with link to TG of Alexander"></a>
                <a href="https://github.com/thelvv"><img src="/img/Github_logo.webp"
                                                         class="footer__contact-logo footer__margin-contact-logo"
                                                         alt="GitHub logo with link to Alexander's GitHub page"></a>
            </div>
        </div>
    </div>
</div>
