<link rel="stylesheet" href="./src/components/Footer/Footer.css" type="text/css">

<div class="placeholder">
    <span class="text-normal-default">© ∞-∞, Reazon.com, Inc. or its affiliates</span>
</div>