<div class="footer__grid">
    <div>
        <a href="/">
        <img src="img/Logo.png" alt="footer logo" class="logo-img">
        </a>
    </div>
    <div class="footer__members">
        <div class="footer__team-member">
            <div class="footer__member-name text-normal-large-normal">Артем Колесников</div>
            <div class="footer__member-contact">
                <a href="https://vk.com/sunbringer"><img src="img/VK_logo.png" class="footer__contact-logo" alt="VKLogo"></a>
                <a href="https://t.me/EuphoriaAbsorber"><img src="img/TG_logo.png" class="footer__contact-logo footer__margin-contact-logo" alt="TGLogo"></a>
                <a href="https://github.com/EuphoriaAbsorber"><img src="img/Github_logo.png" class="footer__contact-logo footer__margin-contact-logo" alt="GitHubLogo"></a>
            </div>
        </div>
        <div class="footer__team-member">
            <div class="footer__member-name text-normal-large-normal">Елизавета Максимова</div>
            <div class="footer__member-contact">
                <a href="https://vk.com/liza1040"><img src="img/VK_logo.png" class="footer__contact-logo" alt="VKLogo"></a>
                <a href="https://t.me/liza1040"><img src="img/TG_logo.png" class="footer__contact-logo footer__margin-contact-logo" alt="TGLogo"></a>
                <a href="https://github.com/Liza1040"><img src="img/Github_logo.png" class="footer__contact-logo footer__margin-contact-logo" alt="GitHubLogo"></a>
            </div>
        </div>
        <div class="footer__team-member">
            <div class="footer__member-name text-normal-large-normal">Владислав Пиневич</div>
            <div class="footer__member-contact">
                <a href="https://vk.com/tunknownlegend"><img src="img/VK_logo.png" class="footer__contact-logo" alt="VKLogo"></a>
                <a href="https://t.me/tUnknownLegend"><img src="img/TG_logo.png" class="footer__contact-logo footer__margin-contact-logo" alt="TGLogo"></a>
                <a href="https://github.com/tUnknownLegend"><img src="img/Github_logo.png" class="footer__contact-logo footer__margin-contact-logo" alt="GitHubLogo"></a>
            </div>
        </div>
        <div class="footer__team-member">
            <div class="footer__member-name text-normal-large-normal">Александр Федоров</div>
            <div class="footer__member-contact">
                <a href="https://vk.com/thelvv"><img src="img/VK_logo.png" class="footer__contact-logo " alt="VKLogo"></a>
                <a href="https://t.me/thelvv"><img src="img/TG_logo.png" class="footer__contact-logo footer__margin-contact-logo" alt="TGLogo"></a>
                <a href="https://github.com/thelvv"><img src="img/Github_logo.png" class="footer__contact-logo footer__margin-contact-logo" alt="GitHubLogo"></a>
            </div>
        </div>
    </div>
</div>
