
.footer__grid {
    margin: 40px 152px;
    display: grid;
    grid-template-rows: 56px 70px;
    grid-row-gap: 28px;
    justify-items: center;
}

.text-footer-team {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
}

.footer__members {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 100px;
}

.footer__team-member {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 12px;
}

.footer__member-name {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
    display: flex;
    align-items: center;
    text-align: center;
}

.footer__member-contact {
    text-align: center;
}

.footer__contact-logo {
    width: 30px;
    height: 30px;
}

.footer__margin-contact-logo {
    margin-left: 20px;
}