<link rel="stylesheet" href="./src/pages/LoginPage/LoginPage.css" type="text/css">

<div class="page">
    <header id="header"></header>

    <main>
        <div class="paint-background"></div>
        <div class="content">
            <div class="left paint-backgroun">
                <div class="login">
                    <div class="page-name text-normal-huge" id="inForm">Авторизация</div>
                    <div class="login-form" id="login-form">
                    </div>
                    <div class="signup__signin text-normal-default">
                        Еще нет аккаунта?
                        <a href="/signup" class="link">Зарегистрироваться</a>
                    </div>
                </div>
            </div>
            <div class="right paint-purple">
                <img type="image" class="LoginRightImg" src="./img/LoginRightImg.png" alt="LoginRightImg">
            </div>
        </div>
        <div class="paint-purple"></div>
    </main>

    <footer id="footer"></footer>

</div>