<div class="paint-background"></div>
<div class="content_login">
    <div class="left_login paint-background">
        <div class="login">
            <div class="page-name_login text-normal-huge" id="inForm">Авторизация</div>
            <div class="login-form" id="login-form">
            </div>
            <div class="signup__signin text-normal-default">
                Еще нет аккаунта?
                <a href="/signup" class="link">Зарегистрироваться</a>
            </div>
        </div>
    </div>
    <div class="right paint-purple">
        <img type="image" class="login-right-img" src="/img/LoginRightImg.webp"
             alt="Image on the right side of login page">
    </div>
</div>
<div class="paint-purple"></div>
