.content_add-comment {
  max-width: 1400px;
  min-width: min(1400px, 100%);
  margin-left: auto;
  margin-right: auto;
}

.content_add-comment-page_margin {
  margin-top: 32px;
}

.add-comment-page__block {
  margin-top: 32px;
  display: grid;
  grid-template-columns: max-content 1fr 1fr;
  align-items: start;
  gap: 32px;
  background-color: var(--pure-white);
  border-radius: 10px;
  margin-bottom: 32px;
  padding: 32px;
}

.add-comment-page__block__title {
  grid-column: 1;
}

.add-comment-page__block__title_average-score {
  display: flex;
  align-self: center;
}

.add-comment-page-main__header {
  grid-column: 1 / 4;
}

/* rating stars */

.add-comment-page__rating-stars {
  justify-self: start;
  grid-column: 2;

  .rating-start {
    display: none;
  }

  .rating-start__label {
    float: right;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: font-size 2s;

    &:not(:first-of-type) {
      padding-right: 2px;
    }

    .rating-start:hover {
      font-size: 40px;
    }

    &:before {
      content: "\2605";
      font-size: 42px;
      color: var(--text-white);
      line-height: 44px;
    }
  }

  .rating-start:checked ~ .rating-start__label:before,
  &:not(:checked) > .rating-start__label:hover:before,
  &:not(:checked) > .rating-start__label:hover ~ .rating-start__label:before {
    color: var(--yellow-star);
  }
}

.add-comment-page__block__input-fields {
  display: grid;
  grid-row-gap: 16px;
}

.add-comment-page__block__input-fields__block__field {
  background-color: var(--background-white);
  border-radius: 10px;
  width: 824px;
  height: 96px;
  margin-top: 8px;
}

.add-comment-page__block__input-fields__block__field__input {
  border-color: rgba(0, 0, 0, 0);
  background: var(--background-white);
  border-radius: 10px;
  width: 824px;
  height: 88px;
  resize: none;
  border-left-width: 8px;
  border-top-width: 8px;
  border-right-width: 8px;
}

.add-comment-page__block__input-fields__block__field__input:focus {
  outline: none;
}

.add-comment-page__block__input-fields__block__title {
  color: var(--placeholder-color);
}

.add-comment-page__block__input-fields__submit {
  grid-column: 2;
  height: 40px;
  width: 840px;
  background-color: var(--default-purple);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--background-white);
  display: flex;
}

.add-comment-page__block__input-fields__submit:hover {
  background-color: var(--hover-purple);
}

@media (max-width: 991px) {
  .add-comment-page__block {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto;
    width: 92%;
    padding: 4%;
    gap: 4vw;
  }

  .add-comment-page-main__header {
    grid-column: initial;
    grid-row: 1;
  }

  .add-comment-page__block__title {
    grid-column: initial;
    grid-row: 2;
  }

  .add-comment-page__rating-stars {
    grid-column: initial;
    grid-row: 3;
  }

  .add-comment-page__block__input-fields__submit {
    grid-column: initial;
    grid-row: 6;
    width: 100%;
  }

  .add-comment-page__block__title__second {
    grid-column: initial;
    grid-row: 4;
  }

  .add-comment-page__block__input-fields__block__field {
    width: 100%;
  }
  .add-comment-page__block__input-fields__block__field__input {
    width: 92%;
  }

  .add-comment-page__block__input-fields {
    grid-row: 5;
  }
}
