.cart-item_cart {
  display: grid;
  grid-template-columns: 24px 100px 414px 1fr 152px;
  gap: 16px;
}

.cart-item_cart__checkbox {
  align-self: center;
  justify-self: center;
}

.cart-item_cart__img {
  width: 100px;
  height: 100px;
  display: flex;
  align-self: center;
  justify-self: center;
}

.cart-item_cart__img-src {
  height: auto;
  width: 100%;
  align-self: center;
  justify-self: center;
}

.cart-item_cart__main {
  margin-top: 16px;
  display: grid;
  grid-template-rows: 40px 20px 20px;
  gap: 6px;
}

.vendor_cart__text {
  color: var(--secondary-purple);
  display: inline-block;
}

.cart-item_cart__bottom {
  display: flex;
  gap: 44px;
  align-self: center;
  justify-self: start;
}

.button-delete_cart__img {
  height: 20px;
  width: 20px;
}

.count-selector {
  display: flex;
  padding: 4px 0;
  align-self: center;
  justify-self: center;
  gap: 4px;
  border: 1px solid var(--dark-grey);
  border-radius: 10px;
  flex: 28px 20px;
}

.count-selector__amount {
  min-width: 28px;
  display: flex;
  justify-content: center;
}

.cart-item_cart__price {
  margin-top: 16px;
  align-self: center;
  justify-self: end;
}

.item_cart__salePrice {
  display: flex;
  justify-content: flex-end;
  padding-right: 6px;
}

.delete-cart-item {
}

.delete-cart-item__down {
}
