.content-product-page {
    max-width: 1400px;
    min-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-white);
    display: grid;
    grid-template-rows: 150px 1fr;
    grid-gap: 32px;
}

.content-product-page_margin {
    margin-top: 32px;
    margin-bottom: 32px
}

.content-product-page-block-background {
    border-radius: 15px;
    background-color: var(--pure-white);
}

.product-page-header-main_padding {
    padding: 16px 32px 16px 32px;
}

.product-page-main {
    display: grid;
    grid-template-columns: 1000fr 368fr;
    grid-gap: 32px;
}

.product-page-main__information {
    display: grid;
    grid-template-columns: 45fr 47fr;
    grid-gap: 16px;
}

.product-page-main__photo {
    height: 450px;
    width: 450px;
    border-radius: 10px;
}

.product-page-main__information-text {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 32px;
}

.product-page-color-jet-black {
    color: var(--jet-black);
}

.product-page-main__characteristics {
    display: grid;
    grid-row-gap: 24px;
    grid-column-gap: 4px;
    margin-top: 16px;
    margin-bottom: 16px;
    height: max-content;
}

.product-page-information__header{
    grid-column: 1 / 3;
}

.product-page-characteristics__name {
    display: inline-flex;
    white-space: nowrap;
    gap: 4px;
    color: var(--secondary-purple);
    overflow: hidden;
}

.product-page-characteristics__dots{
    overflow: hidden;
}

.product-page-characteristics__description{
    max-width: 400px;
    display: flex;
}

.product-page-main__add-cart {
    box-sizing: border-box;
    height: min-content;
    padding: 32px;
    display: grid;
    grid-gap: 16px;
}

.product-page-main__price {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 4px;
}

.product-page-main__price-strikethrough {
    text-decoration-line: line-through;
    color: var(--secondary-purple);
}

.product-page-main__sales-value {
    display: flex;
    border-radius: 20px;
    width: 42px;
    height: 20px;
    color: var(--pure-white);
    background-color: var(--pink-accent);
    align-items: center;
    justify-content: center;
}

@media (max-width: 991px) {
    .content-product-page {
        min-width: 100%;
    }

    .product-page-main {
        grid-template-columns: 1000fr 220px;
        grid-gap: 16px
    }

    .product-page-main__information {
        grid-template-columns: auto 47fr;
    }

    .product-page-color-jet-black {
        align-self: center;
    }

    .product-page-color-jet-black.text-normal-very-large {
        font-size: 20px;
        line-height: 26px;
        font-weight: 600;
    }

    .product-page-main__photo {
        height: calc(450px - 25vw);
        width: calc(450px - 25vw);
    }

    .product-page-characteristics__field {
        grid-template-columns: 100px auto;
    }

    .product-page-main__add-cart {
        padding: 16px;
    }

    .content-product-page_margin {
        margin-bottom: 16px
    }
}

@media (max-width: 767px) {
    .content-product-page {
        width: 100%;
        gap: 16px;
    }

    .product-page-header-main_padding {
        padding: 8px 8px 8px 8px;
    }

    .product-page-main__information {
        grid-template-columns: none;
        grid-template-rows: auto auto;
    }

    .product-page-main {
        grid-template-columns: none;
        grid-template-rows: 1fr auto;
    }

    .product-page-main__add-cart {
        grid-row-start: 1;
        height: auto;
    }
}
