<div class="paint-background"></div>
<div class="catalog__content" id="catalog_content">

    <div class="catalog__category-name text-normal-huge">{{this.category}}</div>

    <div class="catalog__filters-items-block">
        <div class="text-normal-default__bold catalog__path-and-sort-block__sort-block" id="catalog_sort-buttons">
            <button class="text-normal-default__bold catalog__sort-type button-default-no-box" id="catalog_sort-rating">
                <img src="/img/sort-order.svg" class="catalog_sort-rating__img" id="catalog_sort-rating__img" alt="">
                По рейтингу</button>
            <button class="text-normal-default__bold catalog__sort-type button-default-no-box" id="catalog_sort-price">
                <img src="/img/sort-order.svg" class="catalog_sort-price__img" id="catalog_sort-price__img" alt="">
                По цене</button>
        </div>

        <div class="catalog__filter-block paint-jet-black" id="filter-block">
            <span class="text-normal-large catalog__filter-block__title">
                Фильтры
            </span>
            <div class="catalog_filter-block__body">
                <span class="text-normal-default">
                Скоро здесь будут фильтры
                </span>
            </div>
        </div>

        <div class="catalog_items-block" id="items-block">

        </div>
    </div>

</div>
<div class="paint-background"></div>
