<div class="paint-background"></div>
<div class="catalog_content">

    <div class="catalog_category-name text-normal-huge">Планшеты</div>

    <div class="catalog_path-and-sort-block">
        <div class="text-normal-default-bold">Путь</div>
        <div class="text-normal-default-bold"></div>
        <div class="text-normal-default-bold catalog_path-and-sort-block__sort-block">
            <div class="text-normal-default-bold catalog_sort-type__disabled"> По названию </div>
            <div class="text-normal-default-bold catalog_sort-type__disabled"> По рейтингу </div>
            <div class="text-normal-default-bold catalog_sort-type__disabled"> По цене </div>
        </div>


    </div>

    <div class="catalog_filters-items-block">
        <div class="catalog_filter-block" id="filter-block">
            <div class="catalog_filter-title text-normal-large">
                Фильтры
            </div>
        </div>

        <div class="catalog_items-block" id="items-block">


        </div>
    </div>

</div>
<div class="paint-background"></div>
