@import '../../../index.css';

* {
    padding: 0;
    margin: 0;
}

.content {
    max-width: 1400px;
    min-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-white);
}

.filters-items-block {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 368px 1000px;
    column-gap: 32px;
}

.category-name {

}

.path-and-sort-block {
    display: grid;
    grid-template-columns: 400px 700px 300px;
}

.filter-block {
    width: 368px;
    height: 508px;
    background-color: var(--pure_white);
    border-radius: 10px;
    margin-bottom: 32px;
    position: sticky;
    top: 32px;
}

.filter-title {
    margin-top: 24px;
    margin-left: 24px;
}

.items-block {

}
