<link rel="stylesheet" href="./src/pages/CatalogPage/CatalogPage.css" type="text/css">

<div class="page">
    <header id="header"></header>

    <main class="paint-background">
        <div class="paint-background"></div>

        <div class="content">

            <div class="category-name text-normal-huge">Планшеты</div>

            <div class="path-and-sort-block">
                <div class="text-normal-default-bold">Путь</div>
                <div class="text-normal-default-bold">Найдено: 25 000 товаров</div>
                <div class="text-normal-default-bold">Сортировка</div>


            </div>

            <div class="filters-items-block">
                <div class="filter-block" id="filter-block">
                    <div class="filter-title text-normal-large">
                        Фильтры
                    </div>
                </div>

                <div class="items-block" id="items-block">


                </div>
            </div>

        </div>
    </main>

    <footer id="footer"></footer>

</div>
