.catalog__content {
    max-width: 1400px;
    min-width: min(1400px, 100vw);
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-white);
}

.catalog__filters-items-block {
    display: grid;
    margin-top: 16px;
    grid-template-columns: 368px 1000px;
    column-gap: 32px;
    min-height: 348px;
}

.catalog__category-name {
    margin-top: 16px;
}

.catalog__filter-block {
    padding: 24px;
    display: grid;
    height: max-content;
    background-color: var(--pure-white);
    border-radius: 10px;
    margin-bottom: 32px;
    position: sticky;
    top: 68px;
    gap: 32px;
}

%catalog_sort-img{
    width: 12px;
    height: 12px;
    display: none;
}

.catalog_sort-img{
    @extend %catalog_sort-img;
}

.sort-rating__img_visible{
    display: block;
}

.rotate-img-180{
    transform: rotateX(180deg);
}

%catalog__filter-block__title {
    color: var(--jet-black);
}

.catalog__filter-block__title {
    @extend %catalog__filter-block__title;
}

.catalog__path-and-sort-block__sort-block {
    grid-column: 2;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
    gap: 16px;
}

.catalog-item-card__sale-block__catalog-price {
    @extend %catalog__filter-block__title;
}

.catalog__sort-type {
    color: var(--jet-black);
}

.catalog-sort-order-icon {
    height: 12px;
    width: 12px;
    margin-left: 2px;
}

@media (max-width: 991px) {
    .catalog__category-name {
        margin-left: 8px;

        .text-normal-huge {
        font-size: 32px;
        line-height: 42px;
        }
    }

    .catalog__filters-items-block {
        grid-template-columns: auto 1fr;
        column-gap: 16px;
    }
}

@media (max-width: 767px) {
    .catalog__filters-items-block {
        display: grid;
        grid-template-columns: none;
    }

    .catalog__filter-block {
        top: 136px;
        gap: 16px;
        grid-row-start: 1;
    }

    .catalog__path-and-sort-block__sort-block {
        grid-column-start: 1;
        margin-left: 16px;
    }
}
