.product-page-header {
    display: grid;
    grid-template-rows: 20px 42px 24px;
    grid-gap: 16px;
}

.product-page-header__path-color {
    color: var(--secondary-purple);
    text-decoration: none;
}

.product-page-header__path-color:hover {
    color: var(--hover_purple);
}

.comment-page-header__back {
    display: inline;
}

.product-page-header__data {
    display: grid;
    grid-template-columns: 54px 121px 156px;
    grid-gap: 16px;
}

.product-page-header__rating {
    display: grid;
    grid-template-columns: 24px 30px;
    grid-gap: 4px;
    align-items: center;
    justify-items: center;
    background: transparent;
    border: none;
}

.product-page-header__rating-img {
    width: 24px;
    height: 24px;
}

.product-page-header__selection {
    display: grid;
    grid-template-columns: 24px 124px;
    grid-gap: 4px;
}

.favourite-opt {
    width: 24px;
    height: 24px;
}

.product-page-header__selection-text {
    color: var(--default_purple);
    cursor: pointer;
}