<div class="paint-background"></div>
<div class="content" id="content">
    <div class="server-error" id="404Error">
        <span class="server-error__text">
            404 Error. Страница не найдена
        </span>
    </div>
</div>
<div class="paint-background"></div>
