:root {
    --jet-black: #333333;
}

.item-top-cards {
    display: inline-block;
    margin: 0 auto;
    align-self: center;
    text-align: center;
    color: var(--jet-black);
    text-decoration: none;
}

.paint-background {
    background-color: var(--background-white);
}

.paint-purple {
    background-color: var(--default_purple);
}