.item-top-cards {
  display: inline-block;
  margin: 0 auto;
  align-self: center;
  text-align: center;
  color: var(--jet-black);
  text-decoration: none;
}

.item-top-cards__image {
  width: 120px;
  height: 78px;
}
