<link rel="stylesheet" href="./src/components/TopCategory/TopCategory.css" type="text/css">

{{#each category}}
    <a class="item-top-cards text-normal-default disabled" href="" >
        <img src={{this.img}} alt={{this.key}}>
        <p>{{this.nameCategory}}</p>
    </a>
{{/each}}
