<div class="left-arrow">
    <button type="button" class="arrow-button text-normal-default">
        <img src="/img/Left-arrow.webp" class="arrow" alt="left-arrow button">
    </button>
</div>

<div class="content__horizontal-scroll" id="content__horizontal-scroll_{{id}}">

</div>

<div class="right-arrow">
    <button type="button" class="arrow-button text-normal-default">
        <img src="/img/Right-arrow.webp" class="arrow" alt="right-arrow button">
    </button>
</div>
